---
layout: page
title: Latest Posts
excerpt: "Ra1ny House blog's homepage."
search_omit: true
---

<!-- for wechat -->
<div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'>
<img src="{{ site.url }}/images/logra1nyhouse.png" width='700'>
</div>
<!-- for wechat -->

<ul class="post-list">
{% for post in site.posts limit:10 %}
  <li>
  <article>
	  <a href="{{ site.url }}{{ post.url }}">{{ post.title }} 
		  <span class="entry-date">
			  <time datetime="{{ post.date | date_to_xmlschema }}">
			  {{ post.date | date: "%B %d, %Y" }}
			  </time>
		  </span>
	  {% if post.excerpt %} 
		  <span class="excerpt">
		  {{ post.excerpt | remove: '\[ ...                      \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}
		  </span>
	  {% endif %}
	  </a>
  </article>
  </li>
{% endfor %}
</ul>
